In [1]:
import pandas as pd
import numpy as np
import datetime
import sqlite3

In [3]:
conn = sqlite3.connect("db.sqlite3")
cur = conn.cursor()

pw: mirae123!

In [4]:
df_already= pd.read_sql(
"""
SELE

"""
,conn)
df_already

DatabaseError: Execution failed on sql '
SELECT
*
FROM
Users

': no such table: Users